

:root {
  --g: rgba(16,185,129);
  --y: rgba(251,191,36);
  --mg: rgba(107,114,128);
  --dg: rgba(55,65,81);
  --p: rgba(17,24,39);
  --n00: 0;
  --n01: 1;
  --n02: 2;
  --n03: 3;
  --n04: 4;
  --n05: 5;
  --n06: 6;
  --n07: 7;
  --n08: 8;
  --n09: 9;
  --n10: 10;
  --n11: 11;
  --n12: 12;
  --n13: 13;
  --n14: 14;
  --n15: 15;
  --n16: 16;
  --n17: 17;
  --n18: 18;
  --n19: 19;
  --left: 0px;
  --bottom: 0px;
  --length: 0;
  --guesses: 0;
  --keyboard-offset: 100px;
}
    
html, body {
  margin: 0;
  padding: 0;
  font-family: Avenir,Helvetica,Arial,sans-serif;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

body {
  background: var(--p);
}

a:link {
  text-decoration: none;
}

section {
  position: relative;
}

#header {
  z-index: 1;
  position: absolute;
  top: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(55, 65, 81);
}
#header-wrapper {
  z-index: 2;
  display: flex;
  max-width: 32rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
#header-hider {
  height: 80px;
  width: 100%;
  background: var(--p);
  top: 0px;
  position: absolute;
}

#title {
  color: white;
  font-size: 32px;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
}

#title-accent {
  font-size: 0.8rem;
  letter-spacing: 0em;
  font-weight: 900;
  position: absolute;
  bottom: -8px;
  right: -24px;
  color: var(--g);
}

.grid {
  position: absolute; 
  top: 80px; /* should be 81 because of border at top but 80 looks nicer */ 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-content: center;
  z-index: -2;
}
.grid-row {
  
  display: flex; 
  justify-content: center; 
  align-content: center;
}
.grid-row:not(:last-child) {
  margin-bottom: .25rem;
}
.cell {
    border: 2px solid rgba(55,65,81);
    box-sizing: border-box;
    display: inline-block;
    height: 56px;
    width: 56px;
  }
.cell {
  margin-right: .25rem;
  z-index: 1;
}


.kb__label {
  position: absolute;
  width: 36px;
  height: 56px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: .75rem;
  font-weight: 700;
  background: var(--mg);
}

.kb__image {
  position: absolute;
  bottom: -2px;
  left: -203px;
}

#k-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
#keyboard-initializer {
  height: calc(calc(var(--guesses) * 60px + calc( 2 * var(--keyboard-offset))) + 80px );
}
  
.kb {
  position: absolute;
}

.kb__ee, .kb__dd {
  width: 56px;
}

.kb__ee { bottom: calc(var(--n00) * 60px + var(--bottom)); left: calc(var(--n00) * 20px + -200px + var(--left));}
.kb__z  { bottom: calc(var(--n00) * 60px + var(--bottom)); left: calc(var(--n03) * 20px + -200px + var(--left));}
.kb__x  { bottom: calc(var(--n00) * 60px + var(--bottom)); left: calc(var(--n05) * 20px + -200px + var(--left));}
.kb__c  { bottom: calc(var(--n00) * 60px + var(--bottom)); left: calc(var(--n07) * 20px + -200px + var(--left));}
.kb__v  { bottom: calc(var(--n00) * 60px + var(--bottom)); left: calc(var(--n09) * 20px + -200px + var(--left));}
.kb__b  { bottom: calc(var(--n00) * 60px + var(--bottom)); left: calc(var(--n11) * 20px + -200px + var(--left));}
.kb__n  { bottom: calc(var(--n00) * 60px + var(--bottom)); left: calc(var(--n13) * 20px + -200px + var(--left));}
.kb__m  { bottom: calc(var(--n00) * 60px + var(--bottom)); left: calc(var(--n15) * 20px + -200px + var(--left));}
.kb__dd { bottom: calc(var(--n00) * 60px + var(--bottom)); left: calc(var(--n17) * 20px + -200px + var(--left));}

.kb__a  { bottom: calc(var(--n01) * 60px + var(--bottom)); left: calc(var(--n01) * 20px + -200px + var(--left));}
.kb__s  { bottom: calc(var(--n01) * 60px + var(--bottom)); left: calc(var(--n03) * 20px + -200px + var(--left));}
.kb__d  { bottom: calc(var(--n01) * 60px + var(--bottom)); left: calc(var(--n05) * 20px + -200px + var(--left));}
.kb__f  { bottom: calc(var(--n01) * 60px + var(--bottom)); left: calc(var(--n07) * 20px + -200px + var(--left));}
.kb__g  { bottom: calc(var(--n01) * 60px + var(--bottom)); left: calc(var(--n09) * 20px + -200px + var(--left));}
.kb__h  { bottom: calc(var(--n01) * 60px + var(--bottom)); left: calc(var(--n11) * 20px + -200px + var(--left));}
.kb__j  { bottom: calc(var(--n01) * 60px + var(--bottom)); left: calc(var(--n13) * 20px + -200px + var(--left));}
.kb__k  { bottom: calc(var(--n01) * 60px + var(--bottom)); left: calc(var(--n15) * 20px + -200px + var(--left));}
.kb__l  { bottom: calc(var(--n01) * 60px + var(--bottom)); left: calc(var(--n17) * 20px + -200px + var(--left));}

.kb__q  { bottom: calc(var(--n02) * 60px + var(--bottom)); left: calc(var(--n00) * 20px + -200px + var(--left));}
.kb__w  { bottom: calc(var(--n02) * 60px + var(--bottom)); left: calc(var(--n02) * 20px + -200px + var(--left));}
.kb__e  { bottom: calc(var(--n02) * 60px + var(--bottom)); left: calc(var(--n04) * 20px + -200px + var(--left));}
.kb__r  { bottom: calc(var(--n02) * 60px + var(--bottom)); left: calc(var(--n06) * 20px + -200px + var(--left));}
.kb__t  { bottom: calc(var(--n02) * 60px + var(--bottom)); left: calc(var(--n08) * 20px + -200px + var(--left));}
.kb__y  { bottom: calc(var(--n02) * 60px + var(--bottom)); left: calc(var(--n10) * 20px + -200px + var(--left));}
.kb__u  { bottom: calc(var(--n02) * 60px + var(--bottom)); left: calc(var(--n12) * 20px + -200px + var(--left));}
.kb__i  { bottom: calc(var(--n02) * 60px + var(--bottom)); left: calc(var(--n14) * 20px + -200px + var(--left));}
.kb__o  { bottom: calc(var(--n02) * 60px + var(--bottom)); left: calc(var(--n16) * 20px + -200px + var(--left));}
.kb__p  { bottom: calc(var(--n02) * 60px + var(--bottom)); left: calc(var(--n18) * 20px + -200px + var(--left));}


details { position: relative }

/*
#kb__1,
#kb__2,
#kb__3,
#kb__4 { position: relative }
*/

/*
.kb__1-1, .kb__2-1, .kb__3-1, .kb__4-1 { z-index: 1; color: blue }
.kb__1-2, .kb__2-2, .kb__3-2, .kb__4-2 { z-index: 2; color: red }
.kb__1-3, .kb__2-3, .kb__3-3, .kb__4-3 { z-index: 3; color: purple }
.kb__1-4, .kb__2-4, .kb__3-4, .kb__4-4 { z-index: 4; color: green }
*/

.kb__1-1, .kb__2-1, .kb__3-1, .kb__4-1 { z-index: 1; }
.kb__1-2, .kb__2-2, .kb__3-2, .kb__4-2 { z-index: 2; }
.kb__1-3, .kb__2-3, .kb__3-3, .kb__4-3 { z-index: 3; }
.kb__1-4, .kb__2-4, .kb__3-4, .kb__4-4 { z-index: 4; }


.result, .choice {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  font-size: 1.875rem;
  font-weight: 700;
  box-sizing: border-box;
  z-index: -1;
  color: white;
}

.choice {
    border: 2px solid white;
}

.result.correct { background: var(--g) }
.result.present { background: var(--y) }
.result.absent { background: var(--dg) }

.r__1-1, .r__2-1, .r__3-1, .r__4-1 { left: calc(calc(var(--length) * -60px ) / 2 + calc(var(--n00) * 60px)) }
.r__1-2, .r__2-2, .r__3-2, .r__4-2 { left: calc(calc(var(--length) * -60px ) / 2 + calc(var(--n01) * 60px)) }
.r__1-3, .r__2-3, .r__3-3, .r__4-3 { left: calc(calc(var(--length) * -60px ) / 2 + calc(var(--n02) * 60px)) }
.r__1-4, .r__2-4, .r__3-4, .r__4-4 { left: calc(calc(var(--length) * -60px ) / 2 + calc(var(--n03) * 60px)) }

.r__1-1.choice { top: calc(var(--guesses) * -60px + -180px + -20px) }
.r__1-2.choice { top: calc(var(--guesses) * -60px + -180px + -20px) }
.r__1-3.choice { top: calc(var(--guesses) * -60px + -180px + -20px) }
.r__1-4.choice { top: calc(var(--guesses) * -60px + -180px + -20px) }
.r__1-1.result { top: calc(var(--guesses) * -60px + -180px + -20px + calc(var(--guesses) * -60px)) }
.r__1-2.result { top: calc(var(--guesses) * -60px + -180px + -20px + calc(var(--guesses) * -60px)) }
.r__1-3.result { top: calc(var(--guesses) * -60px + -180px + -20px + calc(var(--guesses) * -60px)) }
.r__1-4.result { top: calc(var(--guesses) * -60px + -180px + -20px + calc(var(--guesses) * -60px)) }

.r__2-1.choice { top: -380px }
.r__2-2.choice { top: -380px }
.r__2-3.choice { top: -380px }
.r__2-4.choice { top: -380px }
.r__2-1.result { top: -620px }
.r__2-2.result { top: -620px }
.r__2-3.result { top: -620px }
.r__2-4.result { top: -620px }

.r__3-1.choice { top: -320px }
.r__3-2.choice { top: -320px }
.r__3-3.choice { top: -320px }
.r__3-4.choice { top: -320px }
.r__3-1.result { top: -560px }
.r__3-2.result { top: -560px }
.r__3-3.result { top: -560px }
.r__3-4.result { top: -560px }

.r__4-1.choice { top: calc(var(--guesses) * 60px - 20px) }
.r__4-2.choice { top: calc(var(--guesses) * 60px - 20px) }
.r__4-3.choice { top: calc(var(--guesses) * 60px - 20px) }
.r__4-4.choice { top: calc(var(--guesses) * 60px - 20px) }
.r__4-1.result { top: -500px }
.r__4-2.result { top: -500px }
.r__4-3.result { top: -500px }
.r__4-4.result { top: -500px }